<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<header>
<fieldset>
<nav class="    navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">View Animals</a>
                </li>
                <li class="nav-item" id="contaction">
                    <a class="nav-link" href="">Adopt an Animal Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</fieldset>
</header>
<h1 class="font-weight-bold text-center text-primary">Week 5</h1>
<p class="font-italic">Sum practice.</p>
<nav><ul><li><a target="_blank" href="https://www.youtube.com/watch?v=4IP_E7efGWE">Kittens</a></li></ul></nav>
<nav><ul><li><a target="_blank" href="order">Order</a></li></ul></nav>

</body>
</html>